{% extends 'base.html' %}
{% block content %}
  <form action="/register" method="post">
<div class="container  mt-3">
  <div class="row">
  <div class="col-6">
    <div class="mb-0">
      <label class="form-label" for="mode">작업 선택</label><br>
      <select class="form-select mb-4" name="mode" id="mode">
        <option value="train">train</option>
        <option value="test">test</option>
        <option value="predict">predict</option>
        <option value="update">update</option>
      </select>
    </div>
    <div class="mb-0">
      <label class="form-label" for="stock_name">종목명</label><br>
      <input id="stock_name" type="text" name="s_name" class="form-control" placeholder="005930"><br>
    </div>
    <div class="mb-0">
      <label class="form-label" for="rl_method">강화학습 알고리즘 선택</label><br>
      <select class="form-select mb-4" name="rl_method" id="rl_method">
        <option value="dqn">Deep Q-Learning</option>
        <option value="pg">Policy Gradients</option>
        <option value="ac">Actor Critic</option>
        <option value="a2c">Advantage Actor Critic(A2C)</option>
        <option value="a3c">Asynchronous Actor Critic(A3C)</option>
      </select>
    </div>
    <div class="mb-0">
      <label class="form-label" for="net">딥러닝 알고리즘 선택</label><br>
      <select class="form-select mb-4" name="network" id="net">
        <option value="dnn">Deep Neural Networks(DNN)</option>
        <option value="cnn">Convolutional Neural Networks(CNN)</option>
        <option value="lstm">Long Short-Term Memory(LSTM)</option>
      </select>
    </div>
    <div class="row justify-content-evenly">
      <div class="col">
        <label class="form-label" for="s_date">시작일</label><br>
        <input id="s_date" type="date" name="start_date" class="form-control"><br>
      </div>
      <div class="col">
        <label class="form-label" for="e_date">종료일</label><br>
        <input id="e_date" type="date" name="end_date" class="form-control"><br>
      </div>
    </div>
    </div>
  <div class="col-6">
    <div  class="d-flex flex-column">
      <fieldset class="border rounded-3 p-3">
      <legend class="float-none w-auto px-3">학습 데이터 선택</legend>
      {% for i in range(features | length) %}
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="features" name="features" value={{features[i]}} checked>
          <label class="form-check-label" for="features">{{labels[i]}}</label>
        </div>
<!--        {% if (i+1) % 2 == 0 %}-->
<!--        <br>-->
<!--        {% endif %}-->
      {% endfor %}
      </fieldset>
    </div>
    </div>
    </div>
    <input type="submit" value="SUBMIT" class="btn btn-primary mt-3 mb-5">
</div>
  </form>
{% endblock %}
