<!DOCTYPE HTML>
<html>
  <head>
    <title>title</title>
  </head>
  <body>
    <form action="/register" method="post">
      
      <label for="lname">Train Set Name:</label><br>
      <input id="lname" type="text" name="name" value=""><br>

      <label for="stock_name">Stock Name</label><br>
      <input id="stock_name" type="text" name="s_name" value=""><br>

      <label for="rlmethod">RL_Method</label><br>
      <input id="rlmethod" type="text" name="rl_method" value=""><br>

      <label for="net">Net</label><br>
      <input id="net" type="text" name="network" value=""><br>

      <label for="s_date">Start Date</label><br>
      <input id="s_date" type="text" name="start_date" value=""><br>

      <label for="e_date">End Date</label><br>
      <input id="e_date" type="text" name="end_date" value=""><br>
      <input type="submit" value="SUBMIT">
    </form>
  </body>
</html>